body{
font-family : Arial;
background : #1f1f2e;
}

.container{
margin-left: auto;
margin-right: auto;
width: 80%;
max-width: 500px;
padding: 5px;
}

.boxClass{
background-color: #3b404b ;
color: #3df544;
max-width: 600px; 
margin-top: 20px;
padding:20px;
border: solid 3px #41413e; 
border-radius : 7px;
box-shadow: -1px -0.5px 50px -20px black;
transition: 0.3s;
}

#title{
color : #ff7c4d;
text-shadow: -1px 0.5px  black;
text-align: center;
padding-top: 1px;
padding-bottom: 0px;
}

.exemple{
padding-left: 10%;
}    

#sample{
font-family:courier;
}

.explication{
letter-spacing: 1px;
color: #ff7c4d;
text-shadow: -1px 1px 3px black;
}

#demo{
text-shadow: -1px 1px 15px black;
}
    
    .True{
        color : #3df544;
    }
    .halfTrue{
        color : #ffff00;
    }
    .False{
        color : #ff3333;
    }

    .void {
        color : grey;
    }

.input {
background-color: #ddd;
width: 40%;
border: none;
color: black;
padding: 5px;
margin: 3px 3px;
}

.btn {
background-color: #dsdd;
border: none;
color: black;
text-align: center;
padding: 5px;
padding-left: 8px;
padding-right: 8px;
margin: 2px 2px;
transition: 0.3s;
}

#btnValidate:hover {
background-color: #3e8e41;
color: white;
}
    
#replay:hover {
background-color: #b22821;
color: white;
}
  
.boxClass:hover {
background-color: #3b404b ;
border: solid 5px #41413e; 
box-shadow: -1px -0.5px 50px -30px #a2a2c3;
}


