    body{
    font-family : sans-serif;
    background : #1f1f2e;
    }

    .container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 600px;
    padding: 5px;
    }

    .boxClass{
    background-color: #4e4e4b;
    color: #3df544;

    max-width: 600px; 
    margin-top: 20px;
    padding:20px;
    border: solid 3px #41413e; 
    border-radius : 2px;

    box-shadow: -1px -0.5px 7px 0px rgba(255,89,89,1);
    }

    #title{
    color : #ff7c4d;
    text-shadow: -1px 0.5px  black;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    }

    .exemple{
        padding-left: 10%;


    }    

    #sample{
        font-family:courier;
    }

    .explication{
        letter-spacing: 1px;
        color: #ff7c4d;
        text-shadow: -1px 1px 3px black;
    }
  
    .floating-box {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 2px;
    border: 3px solid #73AD21;  
    text-align: center;
    }
    
    .True{
        color : #3df544;
    }
    .halfTrue{
        color : #ffff00;
    }
    .False{
        color : #ff3333;
    }

    .void {
        color : grey;
    }